.Rapp.history
.DS_Store
.RData
.Rdata
/PRE_2016/PARCC/Data
/PRE_2016/MCAS/Data
/PRE_2016/PARCC/Goodness_of_Fit
/PRE_2016/MCAS/Goodness_of_Fit
/PRE_2016/PARCC/Visualizations
/PRE_2016/MCAS/Visualizations
