.Rapp.history
.DS_Store
.RData
/Data
/Goodness_of_Fit
/Visualizations
/Archive/PRE_2016/PARCC/Goodness_of_Fit
/Archive/PRE_2016/MCAS/Goodness_of_Fit
/Archive/PRE_2016/PARCC/Visualizations
/Archive/PRE_2016/MCAS/Visualizations
/Archive/2016/Goodness_of_Fit
/Archive/2016/Visualizations
